<div class="card bg-light">
  <div class="card-header">
    <h3 class="card-title"> Latest Comments </h3>
  </div>
   <div class="card-body">
    <ul class="lsit-unstyled">
      {{#each sidebar.comments}}
<li class="media">
<a class="pull-left" href="/images/{{ image.id }}">
<img  title="{{image.title}}" alt="{{image.title}}" class="media-object" width="45" height="45" src="/public/upload/{{ image.filename }}">
</a>
<div class="media-body">
{{ comment }}
<br/>
<strong class="media-heading">
{{ name }}</strong> <small class="text-muted">
{{timeago timestamp }}</small>
</div>
</li>
{{/each}}
</ul>
</div>
</div>
