<div class="card bg-light">
  <div class="card-header bg-dark border text-white">
      <h2 class="card-title">{{ image.title }}</h2>
    </div>
    <div class="card-body">
      <p>{{image.description}}</p>
        <div class="col-md-12 text-center">
          <img src="/public/upload/{{image.filename}}" alt="{{ image.title}}" title="{{image.title}}" class="img-thumbnail">

        </div>
      </div>
      <div class="card-footer">
          <div class="row">
            <div class="col-md-8">

              <!-- handler with ajax calls -->
              <button class="btn btn-success" id="btn-like" data-id="{{ image.id }}"><i class="fas fa-heart"> Like </i></button>
                 &nbsp;<strong class="likes-count">{{ image.likes }} </strong>
                 &nbsp; - &nbsp; <i class="fas fa-eye"></i> &nbsp;<strong> {{ image.views }} </strong>
                 &nbsp; - &nbsp; Posted: <em class="text-muted"> {{timeago image.timestamp }} </em>

               </div>

               <!-- with AJAX class -->
               <div class="col-md-4 text-right">
                 <button class="btn btn-danger" id="btn-delete" data-id="{{ image.id }}"><i class="fas fa-times"></i></button>
                </div>

             </div>
      </div>
</div>
<br>

<!-- allow users to post comments -->
<div class="card bg-light">

  <div class="card-header">
    <div class="row">
      <div class="col-md-8">
        <strong class="card-title">Comments</strong>
      </div>
      <div class="col-sm-4 text-right">
        <button class="btn btn-light btn-sm" id="btn-comment" data-id="{{ image.id }}">
          <i class="fas fa-comments"> Post Comment...</i></button>
        </div>
      </div>
    </div>

    <div id="posts" class="card-body">
    <form method="post" action="/images/{{image.id }}/comment">
      <div class="form-group col-md-12">
        <label class="col-md-12" for="name"> Name:</label>
          <div class="col-md-12">
            <input class="form-control" type="text" name="name">
          </div>
        </div>

      <div class="form-group col-md-12">
        <label class="col-md-12" for="email">Email:</label>
        <div class="col-md-12">
          <input class="form-control" type="text" name="email">
        </div>
      </div>

      <div class="form-group col-md-12">
        <label class="col-md-12" for="comment">Comment:</label>
        <div class="col-md-12">
          <textarea class="form-control" name="comment" rows="2"></textarea>
        </div>
      </div>

      <div class="form-group col-md-12">
        <div class="col-md-12 text-right">
          <button type="submit" id="comment-btn" class="btn btn-success" type="button">
              <i class="fas fa-comment"> Post </i></button>
          </div>
        </div>
</form>
</div>


<hr>
<ul class="list-unstyled">
{{#each comments}}
  <li class="media">
    <!-- class="pull-left" -->
    <a href="#">
      <img class="mr-3 ml-3 rounded-circle" src="http://www.gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" style="border: 4px solid black;">
    </a>

<div class="media-body">
{{ comment }}
<br/>
<strong id="{{ _id }}"><a href="#" class="text-info text-decoration-none"> {{ name }} </a></strong><small class="text-muted"> {{timeago timestamp }} </small>
</div>
</li>
<hr>
{{/each}}
</ul>
</div>

<br>
